[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=SystemSettingsCategory
X-KDE-System-Settings-Category=theme
X-KDE-System-Settings-Parent-Category=catappearance
X-KDE-Weight=1
Icon=preferences-desktop-theme-global

Name=Theme
Name[ar]=سمة مساحة العمل
Name[bs]=Tema
Name[ca]=Tema
Name[ca@valencia]=Tema
Name[cs]=Motiv pracovní plochy
Name[da]=Tema
Name[de]=Design
Name[el]=Θέμα χώρου εργασίας
Name[en_GB]=Theme
Name[es]=Tema
Name[et]=Töötsooni teema
Name[eu]=Laneko eremuaren gaia
Name[fi]=Työtilan teema
Name[fr]=Apparence
Name[gl]=Tema
Name[he]=מראה סביבת העבודה
Name[hu]=Asztali téma
Name[id]=Tema
Name[it]=Tema
Name[ja]=ワークスペーステーマ
Name[ko]=작업 공간 모양
Name[lt]=Darbo erdvės apipavidalinimas
Name[nb]=Tema
Name[nds]=Arbeitrebeet-Muster
Name[nl]=Thema
Name[nn]=Tema
Name[pa]=ਵਰਕਸਪੇਸ ਥੀਮ
Name[pl]=Wygląd przestrzeni roboczej
Name[pt]=Tema
Name[pt_BR]=Tema
Name[ro]=Tematica
Name[ru]=Оформление рабочей среды
Name[sk]=Téma
Name[sl]=Tema
Name[sr]=Тема
Name[sr@ijekavian]=Тема
Name[sr@ijekavianlatin]=Tema
Name[sr@latin]=Tema
Name[sv]=Tema
Name[tr]=Teması
Name[uk]=Тема
Name[x-test]=xxThemexx
Name[zh_CN]=工作空间主题
Name[zh_TW]=工作空間主題
