[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=SystemSettingsCategory
X-KDE-System-Settings-Category=advanced
X-KDE-System-Settings-Parent-Category=
X-KDE-Weight=999
Icon=preferences-other

Name=Advanced Settings
Name[ar]=إعدادات متقدّمة
Name[ca]=Arranjament avançat
Name[ca@valencia]=Configuració avançada
Name[cs]=Pokročilá nastavení
Name[da]=Avancerede indstillinger
Name[de]=Erweiterte Einstellungen
Name[el]=Ρυθμίσεις για προχωρημένους
Name[en_GB]=Advanced Settings
Name[es]=Preferencias avanzadas
Name[et]=Muud seadistused
Name[eu]=Ezarpen aurreratuak
Name[fi]=Lisäasetukset
Name[fr]=Paramètres avancés
Name[gl]=Configuración avanzada
Name[he]=הגדרות מתקדמות
Name[hu]=Speciális beállítások
Name[ia]=Preferentias Avantiate
Name[id]=Pengaturan Tingkat-lanjut
Name[it]=Impostazioni avanzate
Name[ja]=詳細設定
Name[ko]=고급 설정
Name[lt]=Sudėtingesnės nuostatos
Name[ml]=ഉന്നതരീതിയിലുള്ള ക്രമികരണങ്ങള്‍
Name[nb]=Avanserte innstillinger
Name[nl]=Geavanceerde instellingen
Name[nn]=Avanserte innstillingar
Name[pa]=ਤਕਨੀਕੀ ਸੈਟਿੰਗਾਂ
Name[pl]=Ustawienia zaawansowane
Name[pt]=Configuração Avançada
Name[pt_BR]=Configurações avançadas
Name[ru]=Расширенные параметры
Name[sk]=Pokročilé nastavenia
Name[sl]=Napredne nastavitve
Name[sr]=Напредне поставке
Name[sr@ijekavian]=Напредне поставке
Name[sr@ijekavianlatin]=Napredne postavke
Name[sr@latin]=Napredne postavke
Name[sv]=Avancerade inställningar
Name[tr]=Gelişmiş Ayarlar
Name[uk]=Додаткові параметри
Name[x-test]=xxAdvanced Settingsxx
Name[zh_CN]=高级设置
Name[zh_TW]=進階設定